<div class="container toolbar">
  <button class="button is-primary mt-1 add" (click)="addRow()">
    <span class = "icon is-large"><i class = "mdi mdi-light mdi-plus"></i></span>
  </button>
</div>
<div class="table">
  <table class="table is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>Date</th>
      <th>Task</th>
      <th>Description</th>
      <th>Time Spent</th>
      <th>Start</th>
      <th>End</th>
      <th>Total Time</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let row of group">
      <th>
        <app-date-picker [selectedDate]="row.dateGroup"></app-date-picker>
      </th>
      <th><input class="input is-small" type="text" [placeholder]="row.timeTrack.task" [(ngModel)]="row.timeTrack.task" (ngModelChange)="autoSave()"></th>
      <th><input class="input is-small" type="text" [placeholder]="row.timeTrack.description" [(ngModel)]="row.timeTrack.description" (ngModelChange)="autoSave()"></th>
      <th><input class="input is-small" type="text" [placeholder]="row.timeTrack.timeSpent" [(ngModel)]="row.timeTrack.timeSpent" (ngModelChange)="updateTimeSpent(row)"></th>
      <th><app-time-picker class="time-picker" [(pickedTime)]="row.timeTrack.startTime" (pickedTimeChange)="updateStartTime($event, row)"></app-time-picker></th>
      <th><app-time-picker [pickedTime]="row.timeTrack.endTime" (pickedTimeChange)="updateEndTime($event, row)"></app-time-picker></th>
      <th>{{row.timeTrack.totalTime}}</th>
      <th>
        <button class="button is-danger mt-1" (click)="removeRow(row)">
          <span class = "icon is-large"><i class = "mdi mdi-light mdi-minus"></i></span>
        </button>
      </th>
    </tr>
    </thead>
  </table>
</div>
